.o_main_navbar {
    color: white;
    background-color: gray;

    > .o_menu_brand {
        color: rgb(0, 0, 0);
    }

    > ul {

        > li {

            > a, > label {
                color: white;
            }

            &.o_extra_menu_items {
                &.show > ul {

                    > li {
                        > a {
                            color: white; //
                            // background-color: rgb(170, 196, 111); //
                        }
                    }
                }
            }
        }
    }

    .dropdown-menu.show{
        background-color: black;
    }
}